# Documentation files (local)
doc/dev_notes.txt

# MacOS system files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Python cache files
src/clustexts/__pycache__/*
tests/__pycache__/*

# Package files
dist/*
src/clustexts.egg-info/*

# Virtual environment
bin/*
etc/*
lib/*
share/*
pyvenv.cfg

# Test data files
tests/artifacts/intents/*

# Charts
doc/*.png

